<main>
    <div class="card m-5">
        {{#with navigation}}
            <ul class="nav p-2">
                {{#each links}}
                    <li class="nav-item">
                        <a class="nav-link active" href={{href}}>{{text}}</a>
                    </li>
               {{/each}}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        {{/with}}
    </div>

    <div>
        {{#with newsBlock}}
            <h1 class="text-center my-5">{{title}}</h1>
            {{> shoppost}}
            <hr>
        {{/with}}
    </div>
    
    <div>
        {{#with goodsBlock}}
            <ul class="nav nav-tabs my-5">
                {{#each tabs}}
                    <li class="nav-item me-5">
                        <a class="nav-link {{#if isActive}} active {{/if}} {{#if isDisabled}} disabled {{/if}}" href="#">{{text}}</a>
                    </li>
                {{/each}}
            </ul>

            <div class="container mb-5">
                <div class="row">
                   {{> shop-card}}
                </div>
            </div>
            <hr>
        {{/with}}
    </div>

    <div class="alert alert-dark my-5">
         {{#with subscribe}}
            <h2>{{header}}</h2>
            <p>{{description}}</p>
            {{#each buttons}}
                <div class="row">
                    <button class="btn btn-primary col-2 m-3" href={{link}}>{{text}}</button>
                </div>
            {{/each}}
         {{/with}}
    </div>
    <hr>
    {{> shop-action}}
    <hr>
    {{> shop-footer}} 
</main>