
    <div class="card m-3 p-2">
        <div class="row">
            <img class="card-img-side col-2 ms-2" src={{image}} alt="Product photo">
            <div class="col-4">
                <h4>{{name}}</h4>
                <p>{{description}}</p>
            </div>
            <div class="col-2">
                {{#with price}}
                    <h5>{{title}}</h5>
                    <h4>{{value}}</h4>
                {{/with}}
            </div>
            <div class="col-1">
                {{amount}}
            </div>
            <div class="col-2">
                {{#each buttons}}
                    <div>
                        <button class="btn {{#if isPrimary}} btn-primary {{/if}} {{#if isDanger}} btn-outline-danger {{/if}} my-2">
                            {{text}}
                        </button>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
