{{#with surname}}
    <div class="col-6 mt-3">
        <form>
            <div class="mb-3">
                <label class="form-label">{{label}}</label>
                <input class="form-control" placeholder="{{placeholder}}">
                <div class="form-text">{{caption}}</div>
            </div>
        </form>
    </div>
{{/with}}

{{#with name}}
    <div class="col-6 mt-3">
        <form>
            <div class="mb-3">
                <label class="form-label">{{label}}</label>
                <input class="form-control" placeholder="{{placeholder}}">
                <div class="form-text">{{caption}}</div>
            </div>
        </form>
    </div>
{{/with}}

{{#with phone}}
    <div class="col-6 mt-3">
        <form>
            <div class="mb-3">
                <label class="form-label">{{label}}</label>
                <input class="form-control" placeholder="{{placeholder}}">
                <div class="form-text">{{caption}}</div>
            </div>
        </form>
    </div>
{{/with}}

{{#with email}}
    <div class="col-6 mt-3">
        <form>
            <div class="mb-3">
                <label class="form-label">{{label}}</label>
                <input class="form-control" placeholder="{{placeholder}}">
                <div class="form-text">{{caption}}</div>
            </div>
        </form>
    </div>
{{/with}}